<div>
  <h2>Reservation List</h2>

  <ul *ngIf="reservations.length; else noReservation">
    <li *ngFor="let reservation of reservations">
      Guest: {{reservation.guestName}}
      Email: {{reservation.guestEmail}}
      Guest Phone: {{reservation.guestPhone}}
      Room Nº: {{reservation.roomNumber}}
      Check-In: {{reservation.checkInDate}}
      Check-Out: {{reservation.checkOutDate}}
    </li>
  </ul>

  <ng-template #noReservation>
    <p>No reservations found.</p>
  </ng-template>
</div>
